/* === Variáveis Globais e Reset === */
:root {
    --primary-color: #f39c12;
    --secondary-color: #f5f5f5;
    --text-color: #333;
    --bg-dark: #2c3e50;
    --light-gray: #ecf0f1;
    --font-base: 'Arial', sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-base);
  }
  
  body {
    background-color: var(--secondary-color);
    color: var(--text-color);
  }
  